
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/auth_page.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Football site</title>
    </head>

    <body>
    <div class="center">
        <h1>Football site for you</h1>
        Login:<br>
        <input type="text" name="Login" value="">
        <br>
        Password:<br>
        <input type="text" name="Password" value="">
        <br><br>
        <input type="submit" value="Submit">
        <p> Do not have account? Sign up, using  <a href="https://djangogirls.org">this</a> </p>
    </div>
    </body>

</html>